.container {
  margin: 0 150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-wrapper {
    margin-top: 50px;
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}

.icon-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}